nav a {
    text-decoration: none;
    color: black;
    
}

nav a:hover {
    background-color: grey;
    color: white;
}

nav {
    background-color: rgb(129, 110, 110);
    font-family: 'Righteous', serif;
}

.logo {
    font-family: 'Modak', serif;
    font-size: 1.5em;
}