<div class="container content">
    <div class="jumbotron text-center item">
        <p class="welcome-text">Welcome to <strong>Quotes.com</strong> where we bring you the most relevant and inspirational quotes to suit your situation.</p>
    </div>
    <!-- <div class="input-group mb-2 mr-sm-2 item">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" width="100%" id="inlineFormInputGroupUsername2" placeholder="Search a quote...">
    </div> -->
    <ul class="list-group card item" *ngFor='let quote of quotes; let i = index'>  
        <div class="row">
            <div class="col">
                <li class="list-group-item text-center quote-text" (click)='toggleDetails(i)'>{{ quote.quote }} ~{{quote.author}}</li>
            </div>
            
        </div>
        <div *ngIf='quote.showDetails' class=" text-center">
            <app-quotes-details [details]='quote' (isDone)='deleteQuote(i)'></app-quotes-details>
        
        </div>
    </ul>
</div>
