<div class="container">
    <div class="jumbotron text-center">
        <p class="welcome-text">Welcome to <strong>Quotes.com</strong> where we bring you the most relevant and inspirational quotes to suit your situation.</p>
    </div>
    
    <div class="row">
        <div class="col-md-6"> 
            <ul class="list-group card item" *ngFor='let quote of quotes; let i = index'>  
                <div class="row">
                    <div class="col">
                        <ng-template [ngIf]="quote.upvotes" [ngIfElse]='none'>
                            <li class="list-group-item text-center quote-text" (click)='toggleDetails(i)' appHighlight>{{ quote.quote }} ~{{quote.author}}</li>
                        </ng-template>
                        
                        <ng-template #none>
                            <li class="list-group-item text-center quote-text" (click)='toggleDetails(i)'>{{ quote.quote }} ~{{quote.author}}</li>
                        </ng-template>
                    </div>
                    
                </div>
                <div *ngIf='quote.showDetails' class=" text-center">
                    <app-quotes-details [details]='quote' (isDone)='deleteQuote(i)'></app-quotes-details>
                
                </div>
            </ul>
        </div>
        <div class="col-md-6">
            <app-add-quote (em)='addQuote($event)'></app-add-quote>
        </div>
    </div>
</div>
