<div class="container text-center body">
    <hr>
    <div>
        <p>added by - {{details.added_by}}</p>
    </div>
    <div>
        <small>This quote has <strong>{{details.upvotes}}</strong> upvotes and <strong>{{details.downvotes}}</strong> downvotes.</small>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="dropup">
                <button (click)='upVoteCounter()' class="btn btn-outline-success dropdown-toggle">  Upvote</button>
            </div>
        </div>
        <div class="col mid">
            <div class="dropdown">
                <button (click)='downVoteCounter()' class="btn btn-outline-warning dropdown-toggle">Downvote</button>
            </div>
        </div>
        <div class="col">
            <div class="">
                <button (click)='delete(done)' class="btn btn-outline-danger">Delete quote</button>
            </div>
        </div>
    </div>
</div>


